name: ${server.name:evitaDB}

server:
  coreThreadCount: ${server.coreThreadCount:4}
  maxThreadCount: ${server.maxThreadCount:16}
  threadPriority: ${server.threadPriority:5}
  queueSize: ${server.queueSize:100}
  shortRunningThreadsTimeoutInSeconds: ${server.shortRunningThreadsTimeoutInSeconds:1}
  killTimedOutShortRunningThreadsEverySeconds: ${server.killTimedOutShortRunningThreadsEverySeconds:30}
  closeSessionsAfterSecondsOfInactivity: ${server.closeSessionsAfterSecondsOfInactivity:60}
  readOnly: ${server.readOnly:false}
  quiet: ${server.quiet:false}

storage:
  storageDirectory: ${storage.storageDirectory:null}
  lockTimeoutSeconds: ${storage.lockTimeoutSeconds:60}
  waitOnCloseSeconds: ${storage.waitOnCloseSeconds:60}
  outputBufferSize: ${storage.outputBufferSize:4MB}
  maxOpenedReadHandles: ${storage.maxOpenedReadHandles:12}
  computeCRC32C: ${storage.computeCRC32C:true}

cache:
  enabled: ${cache.enabled:true}
  reflection: ${cache.reflection:CACHE}
  reevaluateEachSeconds: ${cache.reevaluateEachSeconds:60}
  anteroomRecordCount: ${cache.anteroomRecordCount:100K}
  minimalComplexityThreshold: ${cache.minimalComplexityThreshold:10K}
  minimalUsageThreshold: ${cache.minimalUsageThreshold:2}
  cacheSizeInBytes: ${cache.cacheSizeInBytes:null}

api:
  exposedOn: ${api.exposedOn:null}
  ioThreads: ${api.ioThreads:4}
  accessLog: ${api.accessLog:false}
  certificate:
    generateAndUseSelfSigned: ${api.certificate.generateAndUseSelfSigned:true}
    folderPath: ${api.certificate.folderPath:'./evita-server-certificates/'}
    custom:
      certificate: ${api.certificate.custom.certificate:null}
      privateKey: ${api.certificate.custom.privateKey:null}
      privateKeyPassword: ${api.certificate.custom.privateKeyPassword:null}
  endpoints:
    system:
      enabled: ${api.endpoints.system.enabled:true}
      host: ${api.endpoints.system.host:localhost:5557}
      exposedHost: ${api.endpoints.system.exposedHost:null}
      tlsEnabled: ${api.endpoints.system.tlsEnabled:false}
      allowedOrigins: ${api.endpoints.system.allowedOrigins:null}
    graphQL:
      enabled: ${api.endpoints.graphQL.enabled:true}
      host: ${api.endpoints.graphQL.host:localhost:5555}
      exposedHost: ${api.endpoints.graphQL.exposedHost:null}
      tlsEnabled: ${api.endpoints.graphQL.tlsEnabled:true}
      allowedOrigins: ${api.endpoints.graphQL.allowedOrigins:null}
      parallelize: ${api.endpoints.graphQL.parallelize:true}
    rest:
      enabled: ${api.endpoints.rest.enabled:true}
      host: ${api.endpoints.rest.host:localhost:5555}
      exposedHost: ${api.endpoints.rest.exposedHost:null}
      tlsEnabled: ${api.endpoints.rest.tlsEnabled:true}
      allowedOrigins: ${api.endpoints.rest.allowedOrigins:null}
    gRPC:
      enabled: ${api.endpoints.gRPC.enabled:true}
      host: ${api.endpoints.gRPC.host:localhost:5556}
      exposedHost: ${api.endpoints.gRPC.exposedHost:null}
      mTLS:
        enabled: ${api.endpoints.gRPC.mTLS.enabled:false}
        allowedClientCertificatePaths: ${api.endpoints.gRPC.mTLS.allowedClientCertificatesPaths:[]}
    lab:
      enabled: ${api.endpoints.lab.enabled:true}
      host: ${api.endpoints.lab.host:localhost:5555}
      tlsEnabled: ${api.endpoints.lab.tlsEnabled:true}
      allowedOrigins: ${api.endpoints.lab.allowedOrigins:null}
      gui:
        enabled: ${api.endpoints.lab.gui.enabled:true}
        readOnly: ${api.endpoints.lab.gui.readOnly:false}
        preconfiguredConnections: !include ${api.endpoints.lab.gui.preconfiguredConnections:null}
    observability:
      enabled: ${api.endpoints.observability.enabled:true}
      host: ${api.endpoints.observability.host:localhost:5557}
      exposedHost: ${api.endpoints.observability.exposedHost:null}
      tlsEnabled: ${api.endpoints.observability.tlsEnabled:false}
      allowedOrigins: ${api.endpoints.observability.allowedOrigins:null}
      tracing:
        endpoint: ${api.endpoints.observability.tracing.endpoint:http://localhost:4317}
        protocol: ${api.endpoints.observability.tracing.protocol:grpc}
      allowedEvents: !include ${api.endpoints.observability.allowedEvents:null}
