server:
  coreThreadCount: ${server.coreThreadCount:4}
  maxThreadCount: ${server.maxThreadCount:16}
  threadPriority: ${server.threadPriority:5}
  queueSize: ${server.queueSize:100}
  shortRunningThreadsTimeoutInSeconds: ${server.shortRunningThreadsTimeoutInSeconds:0}
  killTimedOutShortRunningThreadsEverySeconds: ${server.killTimedOutShortRunningThreadsEverySeconds:0}
  closeSessionsAfterSecondsOfInactivity: ${server.closeSessionsAfterSecondsOfInactivity:60}
  readOnly: ${server.readOnly:false}

storage:
  storageDirectory: ${storage.storageDirectory}
  lockTimeoutSeconds: ${storage.lockTimeoutSeconds:50}
  waitOnCloseSeconds: ${storage.waitOnCloseSeconds:50}
  outputBufferSize: ${storage.outputBufferSize:4MB}
  maxOpenedReadHandles: ${storage.maxOpenedReadHandles:12}
  computeCRC32C: ${storage.computeCRC32C:true}

cache:
  enabled: ${cache.enabled:true}
  reflection: ${cache.reflection:CACHE}
  reevaluateEachSeconds: ${cache.reevaluateEachSeconds:60}
  anteroomRecordCount: ${cache.anteroomRecordCount:100K}
  minimalComplexityThreshold: ${cache.minimalComplexityThreshold:10K}
  minimalUsageThreshold: ${cache.minimalUsageThreshold:2}
  cacheSizeInBytes: ${cache.cacheSizeInBytes:null}

api:
  ioThreads: ${api.ioThreads:4}
  certificate:
    generateAndUseSelfSigned: ${api.certificate.generateAndUseSelfSigned:true}
    folderPath: ${storage.storageDirectory}-certificates
    custom:
      certificate: ${api.certificate.custom.certificate:null}
      privateKey: ${api.certificate.custom.privateKey:null}
      privateKeyPassword: ${api.certificate.custom.privateKeyPassword:null}
  endpoints:
    system:
      enabled: ${api.endpoints.system.enabled:true}
      host: ${api.endpoints.system.host:localhost:5557}
      tlsEnabled: ${api.endpoints.system.tlsEnabled:false}
      allowedOrigins: ${api.endpoints.system.allowedOrigins:null}
    graphQL:
      enabled: ${api.endpoints.graphQL.enabled:true}
      host: ${api.endpoints.graphQL.host:localhost:5555}
      tlsEnabled: ${api.endpoints.graphQL.tlsEnabled:true}
      allowedOrigins: ${api.endpoints.graphQL.allowedOrigins:null}
      parallelize: ${api.endpoints.graphQL.parallelize:true}
    rest:
      enabled: ${api.endpoints.rest.enabled:true}
      host: ${api.endpoints.rest.host:localhost:5555}
      tlsEnabled: ${api.endpoints.rest.tlsEnabled:true}
      allowedOrigins: ${api.endpoints.rest.allowedOrigins:null}
    gRPC:
      enabled: ${api.endpoints.gRPC.enabled:true}
      host: ${api.endpoints.gRPC.host:localhost:5556}
      mTLS:
        enabled: ${api.endpoints.gRPC.mTLS.enabled:false}
        allowedClientCertificatePaths: ${api.endpoints.gRPC.mTLS.allowedClientCertificatesPaths:[]}
    lab:
      enabled: ${api.endpoints.lab.enabled:true}
      tlsEnabled: ${api.endpoints.lab.tlsEnabled:true}
      host: ${api.endpoints.lab.host:localhost:5555}
      allowedOrigins: ${api.endpoints.lab.allowedOrigins:null}
      gui:
        enabled: false