name: ${name:evitaDB}

server:
  requestThreadPool:
    minThreadCount: ${server.requestThreadPool.minThreadCount:4}
    maxThreadCount: ${server.requestThreadPool.maxThreadCount:16}
    threadPriority: ${server.requestThreadPool.threadPriority:5}
    queueSize: ${server.requestThreadPool.queueSize:100}
  transactionThreadPool:
    minThreadCount: ${server.transactionThreadPool.minThreadCount:4}
    maxThreadCount: ${server.transactionThreadPool.maxThreadCount:16}
    threadPriority: ${server.transactionThreadPool.threadPriority:5}
    queueSize: ${server.transactionThreadPool.queueSize:100}
  serviceThreadPool:
    minThreadCount: ${server.serviceThreadPool.minThreadCount:4}
    maxThreadCount: ${server.serviceThreadPool.maxThreadCount:16}
    threadPriority: ${server.serviceThreadPool.threadPriority:5}
    queueSize: ${server.serviceThreadPool.queueSize:100}
  queryTimeoutInMilliseconds: ${server.queryTimeoutInMilliseconds:5000}
  transactionTimeoutInMilliseconds: ${server.transactionTimeoutInMilliseconds:300000}
  closeSessionsAfterSecondsOfInactivity: ${server.closeSessionsAfterSecondsOfInactivity:60}
  readOnly: ${server.readOnly:false}
  quiet: ${server.quiet:false}
  trafficRecording:
    enabled: ${server.trafficRecording.enabled:false}
    sourceQueryTracking: ${server.trafficRecording.sourceQueryTracking:false}
    trafficMemoryBufferSizeInBytes: ${server.trafficRecording.trafficMemoryBufferSizeInBytes:4MB}
    trafficDiskBufferSizeInBytes: ${server.trafficRecording.trafficDiskBufferSizeInBytes:32MB}
    exportFileChunkSizeInBytes: ${server.trafficRecording.exportFileChunkSizeInBytes:16MB}
    trafficSamplingPercentage: ${server.trafficRecording.trafficSamplingPercentage:100}
    trafficFlushIntervalInMilliseconds: ${server.trafficRecording.trafficFlushIntervalInMilliseconds:1m}

storage:
  storageDirectory: ${storage.storageDirectory:null}
  exportDirectory: ${storage.exportDirectory:null}
  lockTimeoutSeconds: ${storage.lockTimeoutSeconds:60}
  waitOnCloseSeconds: ${storage.waitOnCloseSeconds:60}
  outputBufferSize: ${storage.outputBufferSize:4MB}
  maxOpenedReadHandles: ${storage.maxOpenedReadHandles:null}
  syncWrites: ${storage.syncWrites:true}
  computeCRC32C: ${storage.computeCRC32C:true}
  compress: ${storage.compress:false}
  minimalActiveRecordShare: ${storage.minimalActiveRecordShare:0.5}
  fileSizeCompactionThresholdBytes: ${storage.fileSizeCompactionThresholdBytes:100M}
  timeTravelEnabled: ${storage.timeTravelEnabled:false}
  exportDirectorySizeLimitBytes: ${storage.exportDirectorySizeLimitBytes:1G}
  exportFileHistoryExpirationSeconds: ${storage.exportFileHistoryExpirationSeconds:7d}

transaction:
  transactionWorkDirectory: ${transaction.workDirectory:null}
  transactionMemoryBufferLimitSizeBytes: ${transaction.memoryBufferLimitSize:16M}
  transactionMemoryRegionCount: ${transaction.memoryRegionCount:256}
  walFileSizeBytes: ${transaction.walFilSize:16M}
  walFileCountKept: ${transaction.walFileCountKept:8}
  flushFrequencyInMillis: ${transaction.flushFrequencyInMillis:1000}

cache:
  enabled: ${cache.enabled:false}
  reflection: ${cache.reflection:CACHE}
  reevaluateEachSeconds: ${cache.reevaluateEachSeconds:60}
  anteroomRecordCount: ${cache.anteroomRecordCount:100K}
  minimalComplexityThreshold: ${cache.minimalComplexityThreshold:10K}
  minimalUsageThreshold: ${cache.minimalUsageThreshold:2}
  cacheSizeInBytes: ${cache.cacheSizeInBytes:null}

api:
  workerGroupThreads: ${api.workerGroupThreads:null}
  idleTimeoutInMillis: ${api.idleTimeoutInMillis:2K}
  requestTimeoutInMillis: ${api.requestTimeoutInMillis:2K}
  maxEntitySizeInBytes: ${api.maxEntitySizeInBytes:2MB}
  accessLog: ${api.accessLog:false}
  headers:
    forwardedUri: ${api.headers.forwardedUri:["X-Forwarded-Uri"]}
    forwardedFor: ${api.headers.forwardedFor:["Forwarded", "X-Forwarded-For", "X-Real-IP"]}
    label: ${api.headers.label:["X-EvitaDB-Label"]}
    clientId: ${api.headers.clientId:["X-EvitaDB-ClientID"]}
    traceParent: ${api.headers.traceParent:["traceparent"]}
  certificate:
    generateAndUseSelfSigned: ${api.certificate.generateAndUseSelfSigned:true}
    folderPath: ${api.certificate.folderPath:'./evita-server-certificates/'}
    custom:
      certificate: ${api.certificate.custom.certificate:null}
      privateKey: ${api.certificate.custom.privateKey:null}
      privateKeyPassword: ${api.certificate.custom.privateKeyPassword:null}
  endpointDefaults:
    enabled: ${api.endpointDefaults.enabled:true}
    host: ${api.endpointDefaults.host:":5555"}
    exposeOn: ${api.endpointDefaults.exposeOn:"localhost"}
    tlsMode: ${api.endpointDefaults.tlsMode:FORCE_TLS}
    keepAlive: ${api.endpointDefaults.keepAlive:null}
    mTLS:
      enabled: ${api.endpointDefaults.mTLS.enabled:false}
      allowedClientCertificatePaths: ${api.endpointDefaults.mTLS.allowedClientCertificatesPaths:[]}
  endpoints:
    system:
      enabled: ${api.endpoints.system.enabled:null}
      host: ${api.endpoints.system.host:null}
      exposeOn: ${api.endpoints.system.exposeOn:null}
      tlsMode: ${api.endpoints.system.tlsMode:FORCE_NO_TLS}
      keepAlive: ${api.endpoints.system.keepAlive:null}
      mTLS:
        enabled: ${api.endpoints.system.mTLS.enabled:null}
        allowedClientCertificatePaths: ${api.endpoints.system.mTLS.allowedClientCertificatesPaths:null}
    graphQL:
      enabled: ${api.endpoints.graphQL.enabled:null}
      host: ${api.endpoints.graphQL.host:null}
      exposeOn: ${api.endpoints.graphQL.exposeOn:null}
      tlsMode: ${api.endpoints.graphQL.tlsMode:null}
      keepAlive: ${api.endpoints.graphQL.keepAlive:null}
      parallelize: ${api.endpoints.graphQL.parallelize:true}
      mTLS:
        enabled: ${api.endpoints.graphQL.mTLS.enabled:null}
        allowedClientCertificatePaths: ${api.endpoints.graphQL.mTLS.allowedClientCertificatesPaths:null}
    rest:
      enabled: ${api.endpoints.rest.enabled:null}
      host: ${api.endpoints.rest.host:null}
      exposeOn: ${api.endpoints.rest.exposeOn:null}
      tlsMode: ${api.endpoints.rest.tlsMode:null}
      keepAlive: ${api.endpoints.rest.keepAlive:null}
      mTLS:
        enabled: ${api.endpoints.rest.mTLS.enabled:null}
        allowedClientCertificatePaths: ${api.endpoints.rest.mTLS.allowedClientCertificatesPaths:null}
    gRPC:
      enabled: ${api.endpoints.gRPC.enabled:true}
      host: ${api.endpoints.gRPC.host:null}
      exposeOn: ${api.endpoints.gRPC.exposeOn:null}
      tlsMode: ${api.endpoints.gRPC.tlsMode:null}
      keepAlive: ${api.endpoints.gRPC.keepAlive:null}
      exposeDocsService: ${api.endpoints.gRPC.exposeDocsService:false}
      mTLS:
        enabled: ${api.endpoints.gRPC.mTLS.enabled:null}
        allowedClientCertificatePaths: ${api.endpoints.gRPC.mTLS.allowedClientCertificatesPaths:null}
    lab:
      enabled: ${api.endpoints.lab.enabled:null}
      host: ${api.endpoints.lab.host:null}
      exposeOn: ${api.endpoints.lab.exposeOn:null}
      tlsMode: ${api.endpoints.lab.tlsMode:null}
      keepAlive: ${api.endpoints.lab.keepAlive:null}
      gui:
        enabled: ${api.endpoints.lab.gui.enabled:true}
        readOnly: ${api.endpoints.lab.gui.readOnly:false}
      mTLS:
        enabled: ${api.endpoints.lab.mTLS.enabled:null}
        allowedClientCertificatePaths: ${api.endpoints.lab.mTLS.allowedClientCertificatesPaths:null}
    observability:
      enabled: ${api.endpoints.observability.enabled:null}
      host: ${api.endpoints.observability.host:null}
      exposeOn: ${api.endpoints.observability.exposeOn:null}
      tlsMode: ${api.endpoints.observability.tlsMode:FORCE_NO_TLS}
      keepAlive: ${api.endpoints.observability.keepAlive:null}
      tracing:
        serviceName: ${api.endpoints.observability.tracing.serviceName:evitaDB}
        endpoint: ${api.endpoints.observability.tracing.endpoint:null}
        protocol: ${api.endpoints.observability.tracing.protocol:grpc}
      allowedEvents: !include ${api.endpoints.observability.allowedEvents:null}
      mTLS:
        enabled: ${api.endpoints.observability.mTLS.enabled:null}
        allowedClientCertificatePaths: ${api.endpoints.observability.mTLS.allowedClientCertificatesPaths:null}
