receivers:
  otlp:
    protocols:
      http:
        include_metadata: true
        cors:
          allowed_origins:
            - http://localhost:4000
            - http://localhost
          allowed_headers:
            - Example-Header
          max_age: 7200
  filelog:
    include: [ "/tmp/evita-temp/*.log" ]
    start_at: beginning

exporters:
  otlp:
    endpoint: tempo:4317
    tls:
      insecure: true
  logging:
    loglevel: debug
  loki:
    endpoint: "http://loki:3100"

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlp, logging]
    logs:
      receivers: [ filelog ]
      exporters: [ loki ]