server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: json-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: varlogs
          __path__: /var/log/logfile.log

    pipeline_stages:
      - json:
          expressions:
            time: timestamp
            message: message
            level: level
            request_id: request_id
            client_id: client_id
      - timestamp:
          source: time
          format: RFC3339
      - labels:
          level: ""
          request_id: ""