# Pipeline that checks the documentation when changed

name: CI Dev branch documentation

on:
  push:
    branches: [ "dev" ]            # trap each push to dev branch
    paths:                         # but react only to changes in code or pipeline definition
      - .github/workflows/ci-dev-documentation.yml
      - documentation/user/**.*

  pull_request_target:
    branches: [ "dev" ]            # also trap pull requests to dev branch
    paths:                         # but react only to changes in code or pipeline definition
      - .github/workflows/ci-dev-documentation.yml
      - documentation/user/**.*

permissions:
  id-token: write
  contents: write
  actions: read
  checks: write
  pull-requests: read
  security-events: write
  statuses: write

concurrency:
  group: ${{ format('{0}_documentation', github.head_ref || github.ref_name) }}  # for the same branch (dev or PR)
  cancel-in-progress: true        # run only one workflow at a time (cancel the previous)

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2    # checkout sources

    - name: Setup Java JDK
      uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1  # setup JDK 17 for building
      with:
         distribution: 'temurin'
         java-version: '17'
         cache: 'maven'

    - name: Setup dotnet
      uses: actions/setup-dotnet@87b7050bc53ea08284295505d98d2aa94301e852 # v4.2.0
      with:
        dotnet-version: '8.0.X'    # setup dotnet 8.0.X for building

    - name: Build with Maven       # run Maven with tests
      run: |
        mvn -T 1C -B package -P documentation -V --fail-at-end -Dmaven.test.skip=false --file pom.xml

    - name: Upload test results    # upload XML with unit test results to artifact `test-results` for `test-report.yml`
      uses: actions/upload-artifact@65c4c4a1ddee5b72f698fdd19549f0f0fb45cf08 # v4.6.0
      if: success() || failure()
      with:
        name: test-results
        path: 'evita*/**/target/surefire-reports/TEST-*.xml'
