# This workflow generates JUnit report in GitHub from the published test results artifact

name: Test-Report

on:
  workflow_run:
    workflows: ['CI Dev branch', 'All tests including long-running', 'CI Dev branch documentation'] # runs after CI of full test workflow
    types:
      - completed

permissions:
  id-token: write
  contents: write
  actions: read
  checks: write
  pull-requests: read
  security-events: write
  statuses: write

jobs:
  report:
    runs-on: ubuntu-latest
    permissions:
      checks: write
    steps:
      - name: Download test results # download all test results artifacts
        uses: dawidd6/action-download-artifact@ac66b43f0e6a346234dd65d4d0c8fbb31cb316e5 # v11
        with:
          workflow: ${{ github.event.workflow_run.workflow_id }}
          run_id: ${{ github.event.workflow_run.id }}
          name: ^test-results.*$      # regex to match all artifacts that start with test-results
          name_is_regexp: true        # treat name as a regular expression

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@ee6b445351cd81e2f73a16a0e52d598aeac2197f # v5.3.0
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/TEST-*.xml'
          commit: ${{github.event.workflow_run.head_sha}}
          require_tests: true
          fail_on_failure: true
          summary: true
          job_summary: true
          annotate_notice: false
          update_check: true
