# This workflow generates JUnit report in GitHub from the published test results artifact

name: Test-Report

on:
  workflow_run:
    workflows: ['CI Dev branch', 'All tests including long-running', 'Documentation tests'] # runs after CI of full test workflow
    types:
      - completed

permissions:
  id-token: write
  contents: write
  actions: read
  checks: write
  pull-requests: read
  security-events: write
  statuses: write

jobs:
  report:
    runs-on: ubuntu-latest
    permissions:
      checks: write
    steps:
      - name: Download a test results # download `evita-server.jar` artifact if the workflow we react to was successful
        uses: dawidd6/action-download-artifact@v6
        with:
          workflow: ${{ github.event.workflow_run.workflow_id }}
          run_id: ${{ github.event.workflow_run.id }}
          name: test-results          # artifact name

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/TEST-*.xml'
          commit: ${{github.event.workflow_run.head_sha}}
          require_tests: true
          fail_on_failure: true
          summary: true
          job_summary: true
          annotate_notice: false
          update_check: true
